beautifulsoup4
Bottleneck
branca
Brotli
certifi
cffi
charset-normalizer
cryptography
folium
idna
Jinja2
MarkupSafe
mkl-service==2.4.0
numexpr
numpy
pandas
pycparser
pyOpenSSL
PySocks
python-dateutil
pytz
regex
requests
scipy
setuptools==68.0.0
six
soupsieve
tzdata
urllib3
wheel==0.41.2
win-inet-pton
